@import "partials/variables";
@import "partials/modules";

body {
	font-family: 'Open Sans', sans-serif;
}
img {
	max-width: 100%;
}

// Header section
.header {
    &__list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
    }
    &__item {
        margin-left: 38px;
    }
    &__menu {
        height: 120px;
    }
}
