@import "partials/variables";
@import "partials/modules";

body {
    font-family: 'Open Sans', sans-serif;
    color: #212121;
}
img {
	max-width: 100%;
}
ul {
    list-style: none;
}
h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0;
}
h2 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
}
a {
    text-decoration: none;
}
p {
    color: #212121;
    font-size: 15px;
}

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}
  
*,
*::before,
*::after {                              
    box-sizing: inherit;
}

.container, footer {
    text-align: center;
}


// Секция Header
.nav {
    & li {
        display: inline;
        margin-right: 20px;
        font-size: 20px;
        font-weight: 600;
        & a {
        color: #212121;
        }
    }
    
}
.header-menu {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-between;
}
.logo {
    &__text {
        font-size: 25px;
        font-weight: 700;
        color: #212121;
    }
}
.header {
    background: #000 url("../img/header_bg-60.jpg") no-repeat center;
    padding-bottom: 120px;
    padding-top: 168px;
    &__text {
        color: #fff;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 110px;
    }
    &__btn {
        color: #fff;
        box-sizing: border-box;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        border: 3px solid white;
        padding: 18px 35px;
        margin: auto 15px;
        &--blue {
            border: 3px solid $green;
            background-color: $green;
        }

    }
    &__icon {
        color: #fff;
    }
}