@media screen and (max-width:1216px) {
    .services {
        &-row {
            justify-content: center;
        }
        &__item {
            margin: 0 15px 30px;
            width: 370px;
        }
    }
    .works {
        &__item {
            margin: 0 15px 30px;
        }
    }
    .prices {

        &__item {
            width: 31.5%;
        }
    }
    .team {
        &__social a {
            margin-right: 25px;
        }
    }
}    
@media screen and (max-width:991px) {
    h1 {
        font-size: 48px;
    }
    .services {
        &__item {
            margin: 0 15px 30px;
            padding: 50px 20px 20px;
        }
    }
    .nav {
        & li {
            font-size: 17px;
            margin-right: 20px;
        }
    }
    .prices {
        & .row {
            justify-content: center;
            flex-wrap: wrap;
        }
        &__item {
            margin-right: 30px;
            width: 370px;
        }
    }
    .team {
        &__social a {
            margin-right: 2px;
        }
    }
}
@media screen and (max-width:767px) {
    section {
        padding-top: 50px;
    }
    p {
        margin-bottom: 80px;
    }
    .services {
        &__item {
            min-width: 370px;
        }
        & h2 {
            margin-top: 23px;
        }
    }
    .about {
        &__row {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            & p {
                margin-bottom: 60px;
            }
        }
    }
    .team {
        &__social a {
            width: 30px;
            height: 30px;
            box-sizing: border-box;
            & i {
                box-sizing: border-box;
                font-size: 20px;
                line-height: 20px;
                height: 50%;
            }
        }
    }
}